.App {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2a9bcf25;
  min-height: 1000px;
}

.capitalContainer {
  display: flex;
  flex-direction: column;
  margin: 50px;
  background-color: aqua;
  padding: 30px;
  width: 300px;
  border-radius: 60px;
  color: rgb(255, 255, 255);
}

.capitalContainer > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.countryContainer {
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(255, 196, 157);
  border-radius: 30px;
}

.countryContainer > div {
  margin: 10px;
  font-size: 20px;
}

.countryContainer > div > span {
  display: inline-block;
  width: 200px;
}
.title {
  font-weight: bold;
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
  background-color: blueviolet;
  width: 100%;
}
